.main__asideInformation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to bottom, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
    border-bottom: 3px solid #676767;
    border-left: 3px solid #676767;
    border-right: 3px solid #676767;
    border-top: 9px solid rgb(230, 219, 195);
    padding: 15px 5px 10px 15px;
    box-shadow: 10px 10px 26px -4px rgba(0, 0, 0, 0.75);
}

header {
    margin-bottom: 35px;
    background: linear-gradient(45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    color: white;
    padding: 15px;
      border-bottom: 3px solid #676767;
}

header h1 {
    margin: 0px;
}

footer {
    padding: 8px 0px;
    margin-top: 5px;
    border-top: 5px solid #676767;
    border-bottom: 5px solid #676767;
}

.album {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
}

.album__effect {
    cursor: pointer;
}

.album__effect:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.55);
}

.album__title {
    height: 60px;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1px;
}

.overflow {
    overflow: hidden;
}

.displayFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal__information {
    font-size: 18px;
    font-style: italic;
    font-family: monospace;
    padding-left: 15px;
}

.main__information {
    min-width: 230px;
    align-items: center;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 50px solid #f7d057;
    position: relative;
}

@media (min-width: 200px) {
    .main__information {
        width: 70%;
    }
}

.main__information h3 {
  position: absolute;
  top: -9px;
  left: 8%;
  padding: 2px;
  color: #0e0e0e;
  background-color: white;
}
